/**Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
}

body {
   background-color: #3f2305 !important;
}

/*************************************/
/* General */
/*************************************/
.fontcolor {
   color: #3f2305;
}

/*************************************/
/* Navigation */
/*************************************/
#navbar {
   background-color: #3f2305;
}

nav ul li:not(:last-child) {
   margin-right: 50px;
}

#contact {
   color: #3f2305;
   background-color: #ffb1ae;
   font-weight: 500;
}

/*************************************/
/* Home */
/*************************************/
#home {
   height: auto;
   min-height: calc(100vh - 82px);
}

#profile {
   border-radius: 5%;
   z-index: 1;
}

#rectangel {
   border-color: white;
   border-radius: 5%;
   margin-top: 30px;
   margin-left: -275px;
   opacity: 0.5;
}

/*************************************/
/* About */
/*************************************/
#about {
   background-color: #f2ead3;
}

th,
td {
   padding: 15px 50px 15px 0px;
}

.link {
   color: #3f2305;
   font-weight: 500;
   text-decoration: none;
}

/*************************************/
/* Experience */
/*************************************/
#experience {
   color: white;
}

.line {
   width: 50%;
   margin: auto;
   border-radius: 5px;
}

/*************************************/
/* Portofolio */
/*************************************/
#portofolio {
   min-height: 100vh;
   background-color: #f2ead3;
}
